<div class="main-form-container">
  <div class="form-container">
    <%= simple_form_for(contact) do |f| %>
      <% if contact.errors.any? %>
        <div class="errors-container">
          <ul>
            <% contact.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.input :name, placeholder: 'Name', label_html: { class: 'icons pen-icon' }, label: '.' %>
      <%= f.input :address, placeholder: 'Address', label_html: { class: 'icons pen-icon' }, label: '.' %>
      <%= f.input :email, placeholder: 'Email', label_html: { class: 'icons pen-icon' }, label: '.' %>
      <%= f.input :phone_number, placeholder: 'Phone Number', label_html: { class: 'icons pen-icon' }, label: '.' %>
      <%= f.input :schedule, placeholder: 'Schedule', label_html: { class: 'icons pen-icon' }, label: '.' %>
      <%= f.submit 'Add', class: 'form-button' %>
    <% end %>
    </div>
    <div class="arrow-back">
    <%= link_to contacts_path do %>
      <i class="fas fa-arrow-left fa-2x" style="color: black; margin-top: 30px;"></i>
    <% end %>
  </div>
</div>
