<table style="width: 100vw">
  <thead>
    <tr>
      <th style="border: 1px solid black; padding: 10px 20px;" class="text-center">name</th>
      <th style="border: 1px solid black; padding: 10px 20px;" class="text-center">address</th>
      <th style="border: 1px solid black; padding: 10px 20px;" class="text-center">email</th>
      <th style="border: 1px solid black; padding: 10px 20px;" class="text-center">phone_number</th>
      <th style="border: 1px solid black; padding: 10px 20px;" class="text-center">schedule</th>
      <th style="border: 1px solid black; padding: 10px 20px;" class="text-center">actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="border: 1px solid black; padding: 10px 20px;" class="text-center"><%= @contact.name %></td>
      <td style="border: 1px solid black; padding: 10px 20px;" class="text-center"><%= @contact.address %></td>
      <td style="border: 1px solid black; padding: 10px 20px;" class="text-center"><%= @contact.email %></td>
      <td style="border: 1px solid black; padding: 10px 20px;" class="text-center"><%= @contact.phone_number %></td>
      <td style="border: 1px solid black; padding: 10px 20px;" class="text-center"><%= @contact.schedule %></td>
      <td style="border: 1px solid black; padding: 10px 20px;" class="text-center">
        <span style="padding: 0 5px;" class="text-center"><%= link_to 'back', contacts_path %></span>
        <span style="padding: 0 5px;" class="text-center"><%= link_to 'new', new_contact_path(@contact) %></span>
        <span style="padding: 0 5px;" class="text-center"><%= link_to 'edit', edit_contact_path(@contact) %></span>
        <span style="padding: 0 5px;" class="text-center"><%= link_to 'delete', contact_path(@contact), method: :delete %></span>
      </td>
    </tr>
  </tbody>
</table>
